
{{>layout/header}}

<h1>Url Shortening</h1>
<div class="col-md-12">
    <form>
        <div class="form-group">
            <input type="text" class="form-control" id ="origin-url" placeholder="Type your url" style="width: 400px">
            <button type="button" class="btn btn-primary" id="btn-change" style="background-color: coral">Shorten</button>
        </div>
    </form>

</div>

{{>layout/footer}}


